# Maven derived files that should not be committed
target/*
.checkstyle
.pmd*

# Compiled files
.class
.pyc

# LibreOffice
~.lock

# Netbeans
/nbproject/private/
/utils/OCDUtils/OCDUtils/nbproject/private/


# Misc
utils/OCDUtils/OCDUtils/data/

