# Maven derived files that should not be committed
target/*
.checkstyle
.pmd*

# Compiled files
.class
.pyc

# LibreOffice
~.lock

# Netbeans
/nbproject/private/
utils/OCDUtils/nbproject/private/
utils/OCDUtils/build/

# Misc
/OCDUtils/data/
/OCDUtils/dist/
/OCDUtils/build/

/OverlappingCommunityDetection/nbproject/private/
/OverlappingCommunityDetection/dist/
/OverlappingCommunityDetection/build/
/OCDUtils/nbproject/private/
/dist/*.jar
/dist/lib
