# Maven derived files that should not be committed
target/*
.checkstyle
.pmd*

# Eclipse derived files that should not be committed
.settings/*

# Compiled files
.class
.pyc

# LibreOffice
~.lock
/nbproject/private/
/utils/OCDUtils/OCDUtils/nbproject/private/
/utils/OCDUtils/OCDUtils/build/